$brand-primary: #88c441;
$brand-primary-hover: #77b330;

$theme: (
    primary: $brand-primary,
    primary-hover: $brand-primary-hover,
    bg-main: #161b1d,
    text-main: #e6edf3,
    text-muted: #8b949e,
    border: #30363d,
);
