@use 'variables' as *;
@use 'mixins' as *;

:root {
    @include inject-theme-vars($theme);
    --tf-toast-border-radius: 2px;
    --font-sans: 'Noto Sans Variable', 'Noto Sans', sans-serif;
}

body {
    background-color: var(--color-bg-main);
    font-family: var(--font-sans);
}

a {
    transition:
        color 0.1s ease-in-out,
        background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
